### maven output directory
target/

### IntelliJ IDEA project files
*.iml
*.ipr
*.iws
*.ids
.idea

### HSql DBMS ###
.db/
.findexes/

### PostgreSql data catalog ###
.postgres-data

### Spring Boot files ###
*.pid
*.port

### python files/cache
.pytest_cache/

### mysql data files ###
*/.mysql/var/lib/*
