<?xml version="1.0" encoding="UTF-8"?>

<!-- https://docs.spring.io/spring-boot/docs/current/reference/html/spring-boot-features.html#boot-features-logback-extensions -->

<configuration>
    <!-- include some base config provided by Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- include defaults provided by Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <!-- include Spring Boot console appender-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- development / default spring profile -->
    <springProfile name="dev | default">
        <!-- root logging level for DEV / default profiles -->
        <root level="DEBUG" />
        <!-- spring framework logging -->
        <logger name="org.springframework" level="DEBUG"/>
        <!-- hibernate framework logging -->
        <logger name="org.hibernate" level="DEBUG"/>
        <!-- logger for Hikari connection pool -->
        <logger name="com.zaxxer" level="DEBUG"/>
        <!-- logger for own packages -->
        <logger name="org.dgusev" level="DEBUG" />
    </springProfile>

    <!-- production spring profile -->
    <springProfile name="prod">

        <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- each archived file, size max 10MB -->
                <maxFileSize>10MB</maxFileSize>
                <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
                <totalSizeCap>20GB</totalSizeCap>
                <!-- 60 days to keep -->
                <maxHistory>60</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </encoder>
        </appender>

        <!-- logging level for spring and gusevdm loggers -->
        <logger name="org.springframework" level="INFO"/>
        <logger name="com.zaxxer" level="DEBUG"/>
        <logger name="org.dgusev" level="INFO"/>

        <!-- root logging level for PROD profile -->
        <root level="INFO">
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>

</configuration>
