<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- include some base config provided by Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- include defaults provided by Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <!-- include Spring Boot console appender-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- logging levels for tests -->
    <root level="DEBUG" />
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.dgusev" level="DEBUG" />

</configuration>
