/*Standard template for programm files*/
/*Build 01*/
/*HELP file: http://gur.rs-head.spb.ru/help/rstemplate/ */

html { width:100%; height: 100%; }

body {
	height:100%;
	margin:0;
	padding:0;
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
    color: #000;
	background:#fff;
}
a:link { color: #0069c4;}
a:visited { color: #0069c4; }
a:hover { color: #e00000;}
a:active { color: #0069c4;}

h1, h2, h3, h4, h5, h6 { font-family: Arial, sans-serif;}
h1 { color: #000; font-size: 15px; font-weight:bold; margin: 0 0 7px;}
h1#title { margin: 8 0 7 0px; color: #336699; }
h2{ font-size: 1.05em;}
h3{ font-size: 1em;}

#rsheader{

}
#rsfooter{

}
.rstextarea{

}


/*RS Data table*/
table.rsdata-table,
table.rsdata-table-filter
{
	border:1px solid #BBC7D5;
	border-collapse: collapse;

}

/*Any cell*/
table.rsdata-table td,
table.rsdata-table-filter td
{
	border:1px solid #BBC7D5;
    background-color:#FFFFFF;
	padding:6px 5px;
}

/*Head cell*/
table.rsdata-table thead td,
table.rsdata-table th,
table.rsdata-table thead th
{
	background-color:#F2F2F2;
	font-weight:bold;
	font-size:11px;
	text-indent: 2px;
	text-shadow: white 1px 1px;
	background-image:none;
	padding:6px;
	color:#072838;
	text-align:left;
}

table.rsdata-table-filter thead td,
table.rsdata-table-filter th,
table.rsdata-table-filter thead th
{
	background-color:#F2F2F2;
	font-weight:bold;
	font-size:12px;
	background-image:none;
	padding-right:24px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
	color:#072838;
	text-align:left;
}
table.rsdata-table-filter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
/*Head cell selected*/
table.rsdata-table-filter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.rsdata-table-filter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.rsdata-table-filter thead tr .headerSortDown,
table.rsdata-table-filter thead tr .headerSortUp {
background-color: #E1E7EA;
}
/*Body cell*/
table.rsdata-table tbody td,
table.rsdata-table-filter tbody td
{
	background-color:#FFF;
	background-image:none;

}
table.rsdata-table tbody tr:hover{
    background-color: #F6F6F6 !important ;
}


/*Selected cell*/
table.rsdata-table td.selected, table.rsdata-table tr.selected td
{
	background-color:#f6f6f6;
}

/*Foot cell*/
table.rsdata-table tfoot td
{
	background-color:#f6f6f5;
	padding:4px;
}

#v_line{
  border-left: none;
  border-right: none;
}
#midth_col{
      border-left:1px solid #BBC7D5;
      border-right:1px solid #BBC7D5;
}
.midth_col{
      border-left:1px solid #BBC7D5;
      border-right:1px solid #BBC7D5;
}




#midth_raw{
      border-top:1px solid #BBC7D5;
      border-bottom:1px solid #BBC7D5;
}

/*End data table*/

#rscontent { margin: 0 30px 3em 23px; zoom:1; position: relative; }
#rscontent-table { width: 100%;}
#rsworkarea {  vertical-align:top; padding: 0 30px 0 0; }
#rssidebar { width:260px; vertical-align:top; padding: 32px 0 0 0;}
/* Color */
.gray{  color:  #A0A0A0;}
.red{ color: #FF0000;}
/* Text blocks */
.note{
  background-color: #F2F8FF;
  border: 1px solid #DEEBFE;
  padding: 4px 8px;
  margin-top: 14px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: auto;
  min-width: 400px;
}
.code{
  background-color: #FFFCF2;
  border: 1px solid #FFF3CC;
  padding: 6px 10px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 24px;

}
/*Input Field Filter*/


#noborder table td{
   border-style: hidden;
   border: none;
   font-size: 0.85em;
   padding: 0 2px;
}
div.noborder table td{
   border-style: hidden;
   border: none;
   font-size: 0.85em;
   padding: 0 2px;
}

